.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: 30px auto;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.416);
	height: 300px;
	background: whitesmoke;
	.cardHeader{
		display: flex;
		flex-direction: column;
		align-items: center;	
		gap: 5px;
		h3{
			font-size: 25px;
			font-weight: 600;
			color: royalblue;
		}
		span{
			font-size: 14px;

		}
	}
	.cardBody{
		padding: 10px;
		height: 45%;
		background: rgb(228, 223, 223);
		width: 90%;
		border-radius: 5px;
		border: 1px solid #cbc;
		overflow-y: auto;
		text-align: center;
		p{
			font-size: 17px;
		}
		.newContentInput {
			overflow-y: auto;
			margin: 5px 0;
			padding: 5px 10px;
			width: 64%;
			height: 65%;
			resize: none;
			font-size: 16px;
			outline: none;
			border: 1px solid royalblue;
			border-radius: 5px;
		}
		.newTitleInput{
			padding: 5px 10px;
			font-size: 17px;
			outline: none;
			border: 1px solid royalblue;
			border-radius: 5px;
		}
	}
	.cardFooter{
		display: flex;
		width: 80%;
		justify-content: space-around;
		align-items: center;
		.delete{
			font-size: 40px;
			color: rgb(192, 7, 7);
			cursor: pointer;
			transition: .3s;
			&:hover{
				transform: scale(1.15);
			}
		}
		.edit{
			font-size: 40px;
			color: rgb(161, 137, 0);
			cursor: pointer;
			transition: .3s;
			&:hover {
				transform: scale(1.15);
			}
		}
		.changeEditing{
			padding: 5px 50px;
			font-size: 16px;
			background: royalblue;
			border: 1px solid royalblue;
			color: whitesmoke;
			border-radius: 5px;
			transition: .2s;
			&:hover{
				box-shadow: 1px 2px 5px royalblue;
				background: transparent;
				color: darkblue;
			}
		}
	}
}
